<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRwXJ9g1jcOZX0TZfL8Kk39NaIMRDI6D0</string>
	<key>GCM_SENDER_ID</key>
	<string>568183265167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.urbanClapUi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sts-services-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sts-services-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568183265167:ios:7014e95fd176eac1a99dfa</string>
</dict>
</plist>